<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <meta name="url shortner" content="widith=device-width,initial-scale=1.0">

    <link rel="stylesheet" href='/static/main.css' />
  </head>
  
  <body>
    <div class="url-box"
    
    <form method="post">
      <div class="url-box-input">
        <input type="text" name="url"
          placeholder="Enter URL" class="url-box-input"
          value="{{ request.form['url'] }}" autofocus></input>
        <button type="submit">Submit</button>
       </div> 
    </form>

      <div class="url-result">
        {{ short_url }}
        <br>
        <br>
        <br>
        <a href="https://twitter.com/PazyP">
          <img alt="Twitter" src="/static/images/twitter.png">
        </a> 
        <a href="https://github.com/pazyp/url_shortner_flask">
          <img alt="GitHub" src="/static/images/github.png">
        </a>
      </div>

    </div>
  </body>
</html>